@mixin form{
    .form-control , .form-select{
        padding: 10px !important;
    }
    .form-control:focus , .form-check-input:focus ,.form-select:focus{
        box-shadow: none !important;
    }
    
    ::placeholder{
        color: rgb(164, 160, 160) !important;
    }
    
}