@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primaryFont :  'Roboto', sans-serif;

// colors
$main-color : rgb(213, 222, 222);
$second-color:  rgb(40, 39, 39);

$white-color : #fff;
$blue-color : #007bff;

:root{
    --bg-color: rgb(40, 39, 39)
}


