@import '../../Assets/style/variables';

.banner {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(225deg, #f1e8ed 0%, #784BA0 50%, #2B86C5 100%);

  .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
    text-decoration: none;
    color: $white-color;
  }

  h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: $white-color;
    .txt-rotate>.wrap {
      border-right: 0.08em solid #666;
    }
  }

  img {
    animation: updown 3s linear infinite;
  }
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

